@media(max-width:800px) {
    .box{
        display: flex;
        flex-wrap: wrap;
        /* width: 90%; */
    }
    .card{
        width: 60rem;
        /* height: 200px; */
    }
    .mainbox .card{
        width: 300px;
    }
    .img-fluid .rounded-start{
        padding: 0px;
        width: 100px;
    }
}