.mainbox{
    border: 1px solid black;
    height: auto;
    width: 650px;
    position: relative;
    padding: 20px;
}

.mainbox p{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
}
.mainbox .input{
    margin: 4px;
    padding: 5px;
    text-align: center;
    background-color: rgb(215, 219, 222);
    border-radius: 10px; 
    height: 50px;
    width: 90px;
    font-size: 30px;  
}
.mainbox #ans{
    position: absolute;
    top: 70%;
    left: 65%;
    /* color: aqua; */
}
.mainbox span{
    font-size: 28px;
}
.mainbox #num1 , #num2{
    height: 20px;
    width: 200px;
}