.mainbox{
    height: auto;
    width: 100%;
}
.mainbox .menu{
    display: grid;
    grid-template-columns: 200px 500px 250px 100px;
    grid-template-rows: 60px;
    color:black ;
    padding: 30px;
}
.mainbox .menu .menuicon{
    display: none;
}
.mainbox .menu span{
    padding: 20px;
}
.mainbox .content{
    height: auto;
    width: 100%;
}
.mainbox .content .green{
    width: 76px;  
    height: 8px; 
    background-color: #81C43B;
    justify-items: center;
    border-radius: 100px;
    margin-left: 530px; 
    color: white; 
    font-size: 12px;
    padding: 3px;
}
.mainbox .content .skin{
    background-color: #F2F9EB; 
    padding: 2px;
    border-radius: 100px;  
    font-size: 12px;
}
.mainbox .content .head{
    color: #35414B; 
    text-align: center;
    font-family: Inter; 
    font-size: 35px;
}
.mainbox .content .pera{
    color: #4E5A65;
    font-size: 12px; 
    text-align: center;
}
.mainbox .content .information{
    text-align: center;
    position: relative;
}
.mainbox .content .information .input1{
    color: #97A5B5;
    font-size: 10px;
    padding: 4px;
}
.mainbox .content  .input2{
    color: white;
    background-color: #794CFF;
    height: 24px;
    width: auto; 
    border: none;
    position: absolute;
    top:335px;
    left: 680px;
}
.mainbox .img{
    margin-left: 300px;
    height: 550px;
    width:600px ;
}
.mainbox .img .size{
    width:600px;
    height:550px;
}
.mainbox .pic {
     height: auto; 
     width: 100%; 
    background-color: white;
} 
.mainbox .pic p{
    color: #4E5A65;
    text-align: center;
    font-size: 12px;
}
.mainbox .pic .icon{
    display: flex; 
    box-sizing: border-box;
    flex-wrap: nowrap;
}
.mainbox .pic .icon .image{
    width: 60px;  
    margin: 60px;
    padding: 20px;
    height: auto;  

}
.mainbox .position{ 
    position: relative;
    height: 500px;
}
.mainbox .position .timeline{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 10%;
    left: 5%;
}
.mainbox .position .timeline img{
    width: 500px;
}

.mainbox .position .list{
    position: absolute;
    height: auto;
    width: auto;
    top: 10%;
    left:58% ;
    box-sizing: border-box;
    font-size: 12px;
    width: 250px;
    padding: 20px;

}
.mainbox .position .list div{
    margin: 20px;
}

.mainbox .flex{
    height: 500px;
    width: 100%;
    box-sizing: border-box;

}

.mainbox .flex .display{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.mainbox .flex .display .subdis{
    height: auto;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.mainbox .flex p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;    
}

.mainbox .flex .tital{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;   
}

.mainbox .flex .dis{
    font-size: 14px;
    text-align: left;
}

.mainbox .grid{
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: auto;
    padding: 80px;

}

.mainbox .grid .grid1{
    height: auto;
    width: 400px;
    text-align: center;
    padding: 25px;
}

.mainbox .grid .grid1 .gridp1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: left;
} 

.mainbox .grid .grid1 .gridp{
    font-size: 15px;
    text-align: left;
}

.mainbox .grid .grid1 .buttondiv{
    margin-left: 5px; 
    background-color: #796EFF;  
    width: 75px;
    font-size: 10px;
    color: white;
    padding: 10px;
}

.mainbox .employee{
    height: auto;
    width: 100%;
}

.mainbox .employee .employee1{
   text-align: center;
   font-size: 30px;
   width: 300px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   justify-items: center;
   margin-left: 420px;
}


.mainbox .employee .employee2{
    font-size: 12px;
    width: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
    padding: 20px;
    line-height: 15px;
}

.mainbox .employee .employee3{
   display: grid;
   grid-template-columns: 380px 380px 380px;
   padding: 20px;   
   text-align: center;
}

.mainbox .employee .employee4{
    display: grid;
    grid-template-columns: 400px 200px 200px;
    padding: 30px;
    background-color: #796EFF;
    width: 800px;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.mainbox .employee .employee4 img{
    padding: 3px;
}
 
.mainbox .employee .employee4 .diss{
    font-size: 32px;
    color: white;
    grid-area: 1/1/2/2;
}
.mainbox .employee .employee4 .class{
    grid-area: 1/2/2/3;
}
.mainbox .employee .employee4 .class{
    grid-area: 1/3/2/4;
}

.mainbox .lastpage{
    height: 300px;
    width: 100%;
    background-color: black;
    justify-content: center;
    color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.mainbox .lastpage .lastpage1{
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .lastpage .lastpage2{
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .lastpage .lastpage3{
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .lastpage .lastpage4{
    padding: 10px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .box{
    height: 50px;
    background-color: black;
    width:auto;
    text-align: right;
    padding: 20px;
}

.mainbox .box i{
    margin: 5px;
}

.mainbox .box .lastbox{
    color: white;
    font-size: 12px;
    text-align: left;
}