.mainbox {
    height: auto;
    width: 100%;
}

.mainbox .menu {
    display: grid;
    grid-template-columns: 1fr 8fr 3fr 1fr;
    grid-template-rows: 60px;
    color: black;
    padding: 10px;
    text-align: right;
    position: relative;
}

.menu .menu1 {
    text-align: center;
    margin-left: 250px;
}

.mainbox .menu .menuicon {
    display: none;
}

.mainbox .menu span {
    padding: 20px;
}

table {
    color: white;
    background-color: black;
    display: none;
    width: 100px;
    position: absolute;
    top: 30px;
    left: 280px;
}

.mainbox .content {
    height: auto;
    width: 100%;
}

.mainbox .content .green {
    width: 76px;
    height: 8px;
    background-color: #81C43B;
    justify-items: center;
    border-radius: 100px;
    margin-left: 40%;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.mainbox .content .skin {
    background-color: #F2F9EB;
    padding: 5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius:100px ;
    font-size: 16px;
}

.mainbox .content .head {
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    margin-bottom: 10px;
    margin-left: -5%;
}

.mainbox .content .pera {
    color: #4E5A65;
    font-size: 12px;
    text-align: center;
    margin-top: 0%;
    margin-left: 36%;
    width: 330px;
}


.mainbox .content .information {
    text-align: center;
}

.mainbox .content .information .input1 {
    color: #97A5B5;
    font-size: 10px;
    padding: 4px; 
    margin-left: -3%;

}

.mainbox .content .input2 {
    color: white;
    background-color: #794CFF;
    height: 24px;
    width: auto;
    border: none;
}

.mainbox .img {
    margin-left: 28%;
    height: 550px;
    width: 600px;
}

.mainbox .img .size {
    width: 600px;
    height: 550px;
}

.mainbox .pic {
    height: auto;
    width: 100%;
    background-color: white;
}

.mainbox .pic p {
    color: #4E5A65;
    text-align: center;
    font-size: 12px;
}

.mainbox .pic .icon {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-left: 10%;
}

.mainbox .pic .icon .image {
    width: 60px;
    margin: 60px;
    padding: 20px;
    height: auto;

}

.mainbox .position {
    position: relative;
    height: 500px;
}

.mainbox .position .timeline {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 10%;
    left: 5%;
}

.mainbox .position .timeline img {
    width: 500px;
}

.mainbox .position .list {
    position: absolute;
    height: auto;
    width: auto;
    top: 0%;
    left: 58%;
    box-sizing: border-box;
    font-size: 12px;
    width: 350px;
    padding: 20px;

}

.mainbox .position .list div {
    margin: 10px;
}

.list .head {
    color: #35414B;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 55px;
}

.list .h1 {
    border-left: 8px solid #794CFF;
}

.h2 {
    margin-left: 50px;
}

.list .discription {
    margin-left: 55px;
    font-size: 16px;
    font-weight: 400;
}

.mainbox .flex {
    height: 500px;
    width: 100%;
    box-sizing: border-box;

}

.extra {
    display: none;
}

.mainbox .flex .display {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.mainbox .flex .display .subdis {
    height: auto;
    width: 350px;
    padding: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.subdis img{
    text-align: left;
}
.mainbox .flex p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

.mainbox .flex .tital {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #35414B;
    line-height: 18px;
    margin-top: 20px;
}

.mainbox .flex .dis {
    font-size: 16px;
    text-align: left;
    color: #4E5A65;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainbox .grid {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: auto;
    padding: 80px;
    text-align: right;



}

.mainbox .grid .grid1 {
    height: auto;
    width: 400px;
    text-align: left;
    padding: 20px;
    margin-left: 15%;
}

.mainbox .grid .grid1 .gridp1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;

}

.mainbox .grid .grid1 .gridp {
    font-size: 15px;
    text-align: center;

}

.grid2 {
    height: auto;
    width: auto;

}

.mainbox .grid .grid1 .buttondiv {
    margin-left: 0px;
    background-color: #796EFF;
    width: 75px;
    font-size: 10px;
    color: white;
    padding: 10px;
}

.mainbox .employee {
    height: auto;
    width: 100%;
}

.mainbox .employee .employee1 {
    text-align: center;
    font-size: 30px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-items: center;
    margin-left: 40%;
}


.mainbox .employee .employee2 {
    font-size: 12px;
    width: 290px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 41%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%;
}

.mainbox .employee .employee3 {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 5fr 2fr 5fr ;
     padding-left: 60px; 
    text-align: left;
}

.e1 {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E5A65;
}

.line {
    border-top: 4px solid #35414B;
    padding-top: 20px;
}

.line2 {
    margin-top: 20px;
}

.mainbox .employee .employee4 {
    display: grid;
    grid-template-columns: 400px 200px 200px;
    padding: 30px;
    background-color: #796EFF;
    width: 800px;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.mainbox .employee .employee4 img {
    padding: 3px;
}

.mainbox .employee .employee4 .diss {
    font-size: 32px;
    color: white;
    grid-area: 1/1/2/2;
}

.mainbox .employee .employee4 .class {
    grid-area: 1/2/2/3;
}

.mainbox .employee .employee4 .class {
    grid-area: 1/3/2/4;
}

.mainbox .lastpage {
    height: 300px;
    width: 100%;
    background-color: black;
    justify-content: center;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.mainbox .lastpage .lastpage1 {
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .lastpage .lastpage2 {
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .lastpage .lastpage3 {
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .lastpage .lastpage4 {
    padding: 10px;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
}

.mainbox .box {
    height: 50px;
    background-color: black;
    width: auto;
    text-align: right;
    padding: 20px;
}

.mainbox .box i {
    margin: 5px;
}

.mainbox .box .lastbox {
    color: white;
    font-size: 12px;
    text-align: left;
}