.mainbox{
    background-color: gainsboro;
    border: 1px solid black;
    height: auto;
    width: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.subbox{
    border: 1px solid black;
    height: 100%;
    margin: 30px;
}


.part1{
    height: 10%;
    background-color: gray;
    width: auto;
    line-height: 700%;
    text-align: center;
}
.part2{
    height: 20%;
    width: 300px;
}
.b1{
    text-align: left;
     position: absolute; 
     top: 37%;
      left:10%;
}
.b2{
    text-align: left;
     position: absolute;
      top: 37%;
      left: 13%;
}
.b3{
    text-align: left;
     position: absolute;
      top: 37%;
       left: 39%;
}
.b4{
    text-align: left;
     position: absolute;
      top: 37%;
      left:42%;
}
.b5{
    text-align: left;
     position: absolute; 
     top: 37%;
      left: 68%;
}
.b6{
    text-align: left; 
    position: absolute;
     top: 37%;
     left: 71%;
}
.b7{
    text-align: left;
     position: absolute;
      top: 82%;
       left: 10%;
}
.b8{
    text-align: left;
     position: absolute;
      top: 82%;
      left: 13%;
}
.b9{
    text-align: left;
     position: absolute; 
     top: 82%; 
     left: 39%;
}
.b10{
    text-align: left;
     position: absolute;
      top: 82%;
      left: 42%;
}
.b11{
    text-align: left;
     position: absolute; 
     top: 82%;
      left: 68%;
}
.b12{
    text-align: left;
     position: absolute;
      top: 82%;
      left: 71%;
}